# ================================
# SECRETS — never commit these
# ================================
.env

# ================================
# Python
# ================================
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
*.egg-info/
dist/
build/

# ================================
# Airflow
# ================================
airflow/logs/
airflow/plugins/__pycache__/

# ================================
# dbt
# ================================
dbt/target/
dbt/.user.yml
dbt/logs/

# ================================
# macOS
# ================================
.DS_Store
.AppleDouble
.LSOverride

# ================================
# IDE
# ================================
.vscode/
.idea/
