# ================================
# API & HTTP
# ================================
requests==2.31.0

# ================================
# Snowflake
# ================================
snowflake-connector-python==3.6.0

# ================================
# Airflow providers
# ================================
apache-airflow-providers-snowflake==5.1.0

# ================================
# Environment variables
# ================================
python-dotenv==1.0.0
